.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: pink;
}

.auth-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: #fb00c5;
  margin-bottom: 5px;
  margin-top: -10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #e24fff;
  outline: none;
}

.error-message {
  color: #f70000;
  font-size: 12px;
  margin-top: 5px;
}

.auth-button {
  width: 100%;
  padding: 12px;
  background-color: #fb77e3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #faafda;
}

.auth-button:disabled {
  background-color: #b4d0f7;
  cursor: not-allowed;
}

.auth-redirect {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.auth-redirect a {
  color: #ff2828;
  text-decoration: none;
  font-size: 15px;
}

.auth-redirect a:hover {
  text-decoration: underline;
}
